<!DOCTYPE html>
    <html>
    <head>
        <meta charset="utf-8">
        <link rel="stylesheet" type="text/css" href="{{STATIC_URL}}style.css">
        <link href='http://fonts.googleapis.com/css?family=Numans' rel='stylesheet' type='text/css'>
        <link href="{{STATIC_URL}}lightbox/css/lightbox.css" rel="stylesheet" />

        <script src="{{STATIC_URL}}script.js"></script>
        <script src="{{STATIC_URL}}lightbox/js/jquery-1.10.2.min.js"></script>
        <script src="{{STATIC_URL}}lightbox/js/lightbox-2.6.min.js"></script>
        <title>
            {% block title %}{%endblock%}
        </title>
    </head>
    <body>
        <div class="header">
            {%block header%}
            <h1>RehabLog</h1>
            {%endblock%}
        </div>
        <div>
            {%block content%}
            {%endblock%}
        </div>
    </body>
</html>