body{
    background: #231F20 url('images/sidebg.png') no-repeat;
    background-position: 1125px 100%;
    background-attachment: fixed; 
}

div.content{
    border: 1px solid #fbfbfb;
    background-color: #B6B6B6;
    width: 800px;
    padding: 30px;
    margin: 50px 150px;
    float: left;
}