body{
    background: #231F20 url('images/testbg.png') 900px 200px no-repeat fixed ;
    width: 100%;
    display: table;
    margin: 0;
    padding: 0;
    font-size: 14px;
    line-height: 28px;
    font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
}