body{
    background: #231F20 url('images/bg.png') 1150px 100% no-repeat fixed;
}

div.content{
    border: 1px solid #fbfbfb;
    background-color: #B6B6B6;
    width: 800px;
    padding: 30px;
    margin: 50px 150px;
    float: left;
    padding-left: 50px;
    padding-right: 50px;
}